
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@100;300;500;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');


:root{
    font-size: 16px;
}


*{
    box-sizing: border-box;
    

}

body{
    
    display: flex;
   
    width: 100%;
    

}

.container{
    display: flex;
    width: 100vw;
    height: 38rem;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
    margin: 0;
    
}

.imagem{
    width: 300px;
    height: 26rem;
   

}
.background-image{
  height: 100%;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
    
   
}

.texto{
    
    background-color: #fff;
    width: 300px;
    height: 26rem;
    border-bottom-right-radius: 10px; 
    border-top-right-radius: 10px;
    padding-left: 1.9rem;
    padding-top: 1.5rem;
    
}

.perfume{
    text-transform: uppercase;
    font-size: small;
    letter-spacing: 6px;
    color: #70768F;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 10px;
    margin: 0;
    

}

.nome-perfume{
    font-family: 'Fraunces', serif;
    font-weight: 700;
    line-height: 1.9375rem;
    margin-top: 0.6625rem;
    padding-top: 0.5rem;
}
.descricao{
    font-family: 'Montserrat', sans-serif;
    color: #70768F;
    font-size: small;
    line-height: 1.375rem;
    margin-top: 0.6625rem;
    margin-bottom: 0;
    width: 14.25rem;
}
.preco{
    display: flex;
    margin-top: 1.5rem;
}

.preco-com-desconto{
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 34px;
    margin:0 ;
    color: #098b5c;
}
.preco-sem-desconto{
    margin-left: 1rem;
    font-family: 'Montserrat', sans-serif;
    color: #70768F;
    text-decoration: line-through ;
    font-size: small;
}

.botao{
    background-color: #098b5c;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #fff;
    width: 14.4375rem;
    height: 3.0625rem;
    color:#fff;
    border-radius: 10px;
    margin-top: 1.4375rem;
}